<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Error Page!</title>

    <style>
        p {
        color: black;
        font-size: 16px;
        }
        h1 {
        color: black;
        font-size: 30px
        justify-content:center;
        }
        form-group{
        justify-content: center;
        display: flex;
        }
    </style>
</head>
<body th:style="'background-image: url('+@{/images/background.jpg}+'); opacity: 0.9'">
    <div class="container">
        <h1>Sorry mate, seems that You can't use this webapp properly!</h1>
        <b><span th:if="${errorMessage}" th:text="${errorMessage}">Error</span></b>
        <br>
        <img th:src="@{/images/images.jpg}" alt="OH NO" width="auto" height="300px"/>
        <br>
        <br>
        <p>
            <a th:href="@{/login}" class="btn btn-info" role="button">Back to the main page</a>
        </p>
    </div>
</body>

</html>